.wpcf7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.wpcf7 label {
    display: block;
    color: black;
    font-weight: normal;
    font-family: 'Poppins';
    line-height: 1.625;
    margin-top: 33px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
    outline: none;
    display: block;
    border-bottom: black 1px solid;
    width: 100%;
}


.wpcf7 input[type="submit"] {
    background-color: rgb(16 185 129);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins';
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.feature-image-container:hover:last-child {
    display: none;
}